.env
.env.*
!.env.example

node_modules/
dist/
build/

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

terraform.tfvars
*.tfvars

lambda.zip

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
response.json
